/* Mise en place de la grille de la page  */
body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
}

/* Position de l'en-tête  sur la grille */
header {
    grid-area: 1 / 1 / 2 / 9; 
}

/* Position de la section latérale gauche sur la grille */
section {
    grid-area: 2 / 1 / 12 / 5; 
}

/* Position de la section latérale droite sur la grille */
aside {
    grid-area: 2 / 5 / 12 / 9; 
    height: auto;
}

/* Position du pied de page sur la grille */
footer {
    grid-area: 12 / 1 / 13 / 9;
}

/* Style de h1 */
h1{
    color: #75d675;
}

/* Style de infos */
#infos{
    /* La largeur s'adapte en fonction du contenu */
    height: auto;
}

/* Style des buttons */
button{
    /* !important : Force le changement de style fait par bootstrap */
    color: rgb(117,214,117) !important;
    background-color: #a8a7a7 !important;
    opacity: 0.9;
}

/* Survole des buttons */
button:hover{
    opacity: 1;
}

/* Style de response */
.response{
    /* La largeur s'adapte en fonction du contenu */
    height: auto;
}

/* Style de l'image */
img{
    margin-left: 20px;
    height: 60px;
}

/* Style de slideContainer */
.slideContainer{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style de slider */
.slider{
    /* Enlever l'apparence par default */
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214,214,214) 60%,rgb(214,214,214) 60%);
    /* Enlève les contours */
    outline: none;
    opacity: 0.7;
    /* Transition de l'opacité sur une durée de 0.2s */
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
}

/* Survole du slider */
.slider:hover{
    opacity: 1;
}

/* Style de la puce pour google */
.slider::-webkit-slider-thumb{
    /* Enlever l'apparence par default */
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background: rgb(117,214,117);
    border-radius: 50%;
    cursor: pointer;
}

/* Style de la puce pour Mozilla Firefox */
.slider::-moz-range-thumb{
    width: 35px;
    height: 35px;
    background: rgb(117,214,117);
    border-radius: 50%;
    cursor: pointer;
}
